.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:minmax(100px,auto) ;
    
}

.box1{
    background: rgb(184, 203, 243);
    grid-row: 1/5;
    grid-column: 1/2;
}

.box2{
    background: rgb(101, 129, 250);
    grid-column: 2/4;
    grid-row: 1/5;
    color:rgb(218, 225, 253) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.box3{
    position: absolute;
    right: 300px;
    top: 150px;

}
.box4{
    position: absolute;
    left: 200px;
    top:30px ;
}
 
.box5{
    background: rgb(101, 129, 250);
    grid-column: 1/4;
    grid-row: 5/8;

}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box6{
 position: absolute;
 width: 50%;
 left: 20%;
 top: 70%;
 font-family: sans-serif;
 color:rgb(218, 225, 253) ;
 
}

*{
    margin: 0px;
}
img{
    height: 100%;
    width: 300px;
}