Week_03/Homework/02-your-favorite-musician/.DS_Store
Week_03/.DS_Store
Week_03/Homework/.DS_Store
Week_03/Homework/01-flexbox-parks_HW/.DS_Store
.DS_Store
Week_04/.DS_Store
Week_05/.DS_Store
Week_05/10_jQuery/.DS_Store
Week_05/10_jQuery/assignments/.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

**/**/.DS_Store
**/.DS_Store
